<div class="grid -center">
  <div class="cell -6of12">

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form') do |f| %>
        <%= devise_error_messages! %>

        <fieldset class="form-group">
          <%= f.label :email%>
          <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.label :password  %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.label :confirmation %>
          <%= f.password_field :confirmation, autocomplete: "off", class: 'form-control' %>
        </fieldset>

        <div class="form-actions">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>


